{% load i18n %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="shortcut icon" href="/static/imgs/web/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/prdone.css' %}">
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
</head>
<body>
    <div class="background">
        <div class="parentcontainer">
            <div class="wrappercontainer">
                <div class="topimg">
                    <img src="{% static 'imgs/web/logo.png' %}">
                </div>
                <div class="outercontainer">
                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <p>
                                <label class="email-heading" for="id_email">New Password:</label>
                                <input type="password" class="input-email" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
                            </p>
                            <p style="margin-top: 10px;">
                                <label class="email-heading" for="id_email">New password(again):</label>
                                <input type="password" class="input-email" name="password2" placeholder="New Password (again)" required="" id="id_password2">    
                            </p>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn">
                                    </div>
                                    <button class="login100-form-btn" type="submit">{% trans 'change password' %}</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    
{% endblock %}