{% load i18n %}
{% load account %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="shortcut icon" href="/static/imgs/web/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/pass_reset.css' %}">
</head>
<body>
    <div class="parentcontainer">
        <div class="wrappercontainer">
            <div class="topimg">
                <img src="{% static 'imgs/web/logo.png' %}">
            </div>
            <div class="outercontainer">
                <div class="other">
                    <h1>{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                </div>
                <div class="bottomcontent">
                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        <p>
                            <label class="email-heading" for="id_email">Enter Your Email:</label>
                            <input type="email" class="input-email" name="email" autocomplete="email" required="" id="id_email">
                        </p>
                        <div class="wrap-login100-form-btn flex-child">
                            <div class="login100-form-bgbtn">
                            </div>
                            <button class="login100-form-btn" type="submit" id="prevbtn">Reset My Password</button>
                        </div>
                    </form>

                    <p>*Please contact us if you have any trouble resetting your password. or <a href="{% url 'account_login' %}">back to login.</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}