*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    overflow-x: hidden;
}

.multicolorbg {
    background: crimson;
    background-image: linear-gradient(120deg, #000 55%, crimson 55%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.multicolorbg .box{
  width: 600px;
  margin: auto;
  margin-top: 115px;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 81vh;
  overflow-y: auto;
}

.contest_head{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 11px;
}

.mathc_name{
    text-align: center;
    margin-bottom: 10px;
}

.contest_teams{
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.teams{
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align: left;
    padding: 8px;
    position: relative;
}

.userinfo{
    width: 60%;
    padding-left: 10px;
}

.points{
    width: 25%;
}

.rank{
    width: 15.5%;
    text-align: center;
}

.userinfo a{
    color: black;
    text-decoration: none;
}

.userinfo a:hover{
    color: blue;
}