* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  overflow-x: hidden;
}

.multicolorbg {
  background: linear-gradient(120deg, #000 55%, crimson 55%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.img1 {
  height: 80vh;
  width: min(400px, 50vw);
  position: absolute;
  bottom: 0;
  left: 20px;
}

.img2 {
  height: 100%;
  width: 400px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-div {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.content-div button {
  outline: none;
  border: none;
  padding: 20px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 34px;
  cursor: pointer;
  color: crimson;
  font-weight: bold;
}

footer {
  color: white;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.faq-container {
  max-width: 80%;
  margin: auto;
}

.faq.active {
  background-color: white;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
}

.faq {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faqs {
  display: block;
  width: 70%;
  margin: 50px auto;
}

.faqs p {
  margin-top: 10px;
  text-align: justify;
}

.faqs h3 {
  text-align: justify;
}

.faq-tittle {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 16px;
  padding: 0%;
  height: 30px;
  width: 30px;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
  border-radius: 50%;
}

.dropdown-menu {
  background: transparent;
  width: 100px !important;
}

.centertxt {
  text-align: center;
  color: white;
  padding: 20px;
}

.mainheading {
  display: block;
  margin: 40px auto;
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 965px) {
  .content-div h3 {
    display: none;
  }
  .content-div {
    top: 85%;
  }
  .img2 {
    transform: none;
    top: 0%;
    left: unset;
    right: -4.5%;
  }
}

@media (max-width: 550px) {
  .img1 {
    height: 100%;
    left: 0;
    width: 275px;
  }
  .img2 {
    display: none;
  }
  .content-div {
    right: unset;
    left: 65%;
    top: 66%;
  }
  .centertxt {
    position: absolute;
    top: 39%;
    left: unset;
    right: 0;
    padding: 0;
  }
  .content-div h1 {
    font-size: 1.3em;
  }
  .content-div button {
    padding: 12px;
    font-size: 14px;
    border-radius: 22px;
  }
}

@media (max-height: 500px) {
  .centertxt {
    padding-top: 10px;
    margin: 0;
  }
  .centertxt h1 {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .img2 {
    width: 100%;
  }
}
