*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    overflow-x: hidden;
}

.multicolorbg {
    background: crimson;
    background-image: linear-gradient(120deg, #000 55%, crimson 55%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.multicolorbg .match_card{
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    border: 1px solid #dddddd;
    text-align: left;
}

.multicolorbg .match_card .teams{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
       
}
.multicolorbg .match_card .teams .team1info img, .multicolorbg .match_card .teams .team2info img{
    width: 95%;
    height: 90px;
    border-radius: 2px;
}

.multicolorbg .match_card .teams .team1info{
    width: 20%;
    margin-left: 10px;
    text-align: center;
}

.multicolorbg .match_card .teams .team2info{    
    width: 20%;
    margin-right: 10px;
    text-align: center;
}

.multicolorbg .match_card .teams .vs{
    margin-top: 20px;
}

.multicolorbg .match_card .createbutton{
    text-align: center;
    margin-top: 15px;      
}

.multicolorbg .match_card .createbutton a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.multicolorbg .match_card span{
    font-size: 14px;
    font-weight: 600;
    color: crimson;
}

.multicolorbg .match_card .createbutton a:hover{
    background:  #0d3073;
}

.head{
    display: flex;
    justify-content: center;
    background: white;
}

.box{
    width: 600px;
    margin: auto;
    margin-top: 115px;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    text-align: center;
    margin-bottom: 30px;
}

.active{
    background-color: #dddddd;    
}

.player_data{
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
}

.head a{
    display: block;
    cursor: pointer;
}    
.match_card h3{
    text-align: center;     
}
 
@media(max-width:620px){
    .box{
        width: 98%;
    }
    .multicolorbg .match_card .teams .team1info img,
    .multicolorbg .match_card .teams .team2info img{
        height: 50px;
    }
    .multicolorbg .match_card .createbutton a{
        font-size: 13px;
    }
    .multicolorbg .match_card .createbutton {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .head a{
        font-size: 13px;
    }
}