@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body,html {
  overflow-x: hidden;
  position: relative;
}

.header {
  padding: 0 3rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  background: transparent;
  overflow: hidden;
  z-index: 10000;
}

.header img {
  display: block;
  margin-top: 7px;
  z-index: 1000000;
}

.navbar-list {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: gold;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 3.5rem;
  height: 3.5rem;
  color: #fff; /* hamburger */
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}



/* 980px  */
@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #fff; /* hamburger outer layer*/
    color: #212529;
  }

  .right{
    font-size: 20px !important;
  }

  .right h3{
    font-size: 30px !important;
  }

  .header {
    position: relative;
    background: transparent;
    position: absolute;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: crimson;
    background-image: linear-gradient(120deg, #000 55%, crimson 55%);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

@media(max-width: 875px){
  .right button{
    padding: 25px 25px !important;
    font-size: 20px !important;
  }
  .feature-text{
    margin: 10px !important;
  }
}


@media(max-width:750px){
  .content-div{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%,0);
  }
  .mcbg-firstchild{
    flex-direction: column-reverse;
    padding: 35px;
    margin-top: 50px;
  }

  #chat-circle{
    bottom: 80px !important;
  }
  .right button{
    color: white !important;
    background: crimson !important;
  }
}

@media(max-width:650px){
  .right{
    font-size: 14px !important;
  }

  .right h3{
    font-size: 22px !important;
  }
}

/* Below 560px  */
@media (max-width: 560px) {
  .managercontent{
    flex-direction: column-reverse !important;
  }
  #chat-circle{
    right: 10px !important;
  }
  .display-none{
    display: none !important;
  }
  .managercontent .right{
    margin: 0 20px;
  }
  .header {
    padding: 0 2.4rem;
  }

  .img1{
    width: 100% !important;
  }
  .mcbg-firstchild{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .header .logo {
    width: 60%;
  }

  .right button {
    padding: unset;
    font-size: 15px !important;
  }
}

@media(max-width:350px){
  .content-div{
    left: 39% !important;
  }
  .header {
    padding: 0 1rem !important;
  }
}