*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    overflow-x: hidden;
}

.multicolorbg {
    background: crimson;
    background-image: linear-gradient(120deg, #000 55%, crimson 55%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.multicolorbg .box{
  width: 600px;
  margin: auto;
  margin-top: 115px;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 81vh;
  overflow-y: auto;
}



.multicolorbg .box .teamplayers .player_data{
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
}

.active{
    background-color: #dddddd;    
}

.bastmans{
    display: none;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  
}

.bowlers{
    display: none;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
}

.allrounders{
    display: none;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
}

.wkbat{
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  margin-top: 5px;
  position: relative;
}

.batsman{
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  margin-top: 5px;
  position: relative;
}

.allround{
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  margin-top: 5px;
  position: relative;
}

.bowler{
    display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  margin-top: 5px;  
  position: relative;    
}

.head{
    display: flex;
    justify-content: center;
}

.head1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.wkbat img, .batsman img, .bowler img, .allround img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.player_name{
    position: absolute;
    padding-left: 15px;
    margin-top: 5px;
}

.player_role{
    margin-top: 27px;
    font-size: small;
    position: absolute;
    padding-left: 15px;
}

.player_info{
    width: 60%;
}

.credits{
    width: 25%;
}

.addbtn{
    width: 15%;
    text-align: center;
}

.head a{
    display: block;
    cursor: pointer;
}

.overmsg{
  display: none;
  text-align: center;
  color: red;
}

.addbtn .plus{
  background: white;
  border: none;
  cursor: pointer;
}

.addbtn .minus{
  background: lightgray;
  border: none;
  display: none;
  cursor: pointer;
}

.proc_button, .procf_button{
  border-radius: 6px;
  padding: 3px;
  font-size: 20px;
  width: 200px;
  background: white;
  color: crimson;
  cursor: not-allowed;
  margin-bottom: 15px;
}

.player_selection{
  display: flex;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
  text-align: left;
  padding: 8px;
  margin-top: 5px;
  position: relative;
}

.cap, .vicecap{
  height: 34px;
    width: 34px;
    border-radius: 48%;
    font-size: 17px;
    cursor: pointer;
    margin-right: 6px;
}

.selction_cap{
  display: none;
}

