*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    overflow-x: hidden;
}

.multicolorbg {
    background: crimson;
    background-image: linear-gradient(120deg, #000 55%, crimson 55%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.multicolorbg .box{
  width: 600px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  height: 85vh;
  overflow-y: auto;
}

.contest{
    margin: auto;
    margin-top: 20px;
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    border: 1px solid #dddddd;
    position: relative;
}

.mathc_name{
    text-align: center;
}

.entr, .entryfe{
    position: absolute;
}

.entr{
    right: 20px;
}

.entryfe{
    margin-top: 2px;
    text-align: center;
    display: inline-block;
    right: 3px;
    width: 25%;
    background: lightgreen;
    padding: 2px;
    border-radius: 5px
}

.prize{
    margin-top: 2px;
}

.progress_bar{
    margin-top: 10px;
}

.prog_bar{
    width: 100%;
}

.total_spot{
    position: absolute;
    right: 15px;
}

.join{
    text-align: center;
    margin-top: 15px;
}

.join a{
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.maincont{
    margin-top: 10px;
}

.user_wined{
    display: none;
}

select#user_team{
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-top: 3px;
}

.completed, .live{
    display: none;
}
