{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="D:\New folder\vikoings\404 errror page\500.css" rel="stylesheet">
    <title>error 404</title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/web/favicon.ico' %}" type="image/x-icon">
</head>
<body>

<h5>error !</h5>
    <h1>404</h1>
    {% if not message %}
    <p> Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
			<br/>
			<a href="/">Go Back</a>
			or visit here later.</p>
    {% else %}
    <p> {{message}}
        <br/>
        <a href="/">Go Back</a>
        </p>
    {% endif %}
                
</body>
</html>