{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome User to Vision11</title>
    <link rel="stylesheet" href="{% static 'css/contestdetails.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/web/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e8423a8394.js" crossorigin="anonymous"></script>
</head>


<body>
    <div class="multicolorbg">
        <div class="box" id="box">
            <div class="mathc_name">
                <span>{{ name }}</span>
            </div>
            <div class="contest_teams">
            <div class="contest_head">
                <div style="width: 56%;padding-left: 5%; color: gray; font-weight: bold;">All Teams</div>
                <div style="width: 25%; color: gray; font-weight: bold;">Points</div>
                <div style="width: 14%;text-align: center; color: gray; font-weight: bold;"># Rank</div>
            </div>
            {% for team in teams %}
            <div class="teams">
                <div class="userinfo">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="/userteam/match={{ team.match_id.id }}/team={{ team.id }}">
                    
                    {{ team.user.username }}
                </a>
                </div>
                <div class="points">
                    100.0
                </div>
                <div class="rank">
                    100
                </div>
            </div>
             {% endfor %}
        </div>
        </div>
         
    </div>

</body>

</html>