{% load static %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard @ Vision11</title>
    <link rel="shortcut icon" href="/static/imgs/web/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">vision11</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active" id="basedash">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" id="ageverdash">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">age verification</span>
          </a>
        </li>
        <li>
          <a href="#" id="absdash">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">About us</span>
          </a>
        </li>
        <li>
          <a href="#" id="hefedash">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Help& feedback</span>
          </a>
        </li>
        <li>
          <a href="/accounts/logout">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">logout</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard" style="color: white;">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Hey! {{user.username}}</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content" id="base-dashboard">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests joined</div>
            <div class="number">10</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests won</div>
            <div class="number">7</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests lost</div>
            <div class="number">3</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total coins earned</div>
            <div class="number">20</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent contests</div>
          <div class="sales-details">
            <ul class="details">

          </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
      </div>
    </div>

    <div class="home-content" id="age-verification-dashboard">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests joined</div>
            <div class="number">
              <input type="file" name="">
            </div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Id proof may be aadhar/pan/licence etc.</span>
            </div>
            <div class="button">
              <a href="#">See All</a>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
      </div>
    </div>

    <div class="home-content" id="about-us-dashboard">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests joined</div>
            <div class="number">10</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
      </div>
    </div>

    
    <div class="home-content" id="help-feedback-dashboard">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">No of contests joined</div>
            <div class="number">10</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
      </div>
    </div>

  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

 <script>
    elms = ["base-dashboard","age-verification-dashboard","about-us-dashboard","help-feedback-dashboard"]
    triggered = ["basedash","ageverdash","absdash","hefedash"]
    for(var i=1;i<elms.length;i++){
        document.getElementById(elms[i]).style.display = "none";
    }

    for(var i=0;i<triggered.length;i++){
      document.getElementById(triggered[i]).addEventListener('click',function(){
          for(var j=0;j<elms.length;j++){
            if(this.id==triggered[j]){
                document.getElementById(elms[j]).style.display = 'block';
                if(!document.getElementById(triggered[j]).classList.contains('active'))
                document.getElementById(triggered[j]).classList.add('active');
            }else{
                document.getElementById(elms[j]).style.display = 'none';
                if(document.getElementById(triggered[j]).classList.contains('active'))
                document.getElementById(triggered[j]).classList.remove('active');
            }
          }
      })
    }
 </script>

</body>
</html>


</body>
</html>
{% endblock %}