{% load static %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard @ Vision11</title>
  <link rel="shortcut icon" href="/static/imgs/web/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/plans.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

  <body>
    <div class="sidebar" id="sidebar-dashboard">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">vision11</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/">
            <i class='bx bx-list-ul'></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <li>
          <a href="#" class="active" id="basedash">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#ageverification" id="ageverdash">
            <i class='bx bx-list-ul'></i>
            <span class="links_name">age verification</span>
          </a>
        </li>
        <li>
          <a href="#aboutus" id="absdash">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="links_name">About us</span>
          </a>
        </li>
        <li>
          <a href="#suggestafeature" id="hefedash">
            <i class='bx bx-coin-stack'></i>
            <span class="links_name">Suggest a Feature?</span>
          </a>
        </li>
        <li>
          <a href="#purchase" id="purchase">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="links_name">purchase</span>
          </a>
        </li>
        <li>
          <a href="/play">
            <i class='bx bx-coin-stack'></i>
            <span class="links_name">Play a game</span>
          </a>
        </li>
        <li>
          <a href="/mycontests" id="mycontests">
            <i class='bx bx-list-ul'></i>
            <span class="links_name">My Contests</span>
          </a>
        </li>
        <li>
          <a href="/accounts/logout">
            <i class='bx bx-book-alt'></i>
            <span class="links_name">logout</span>
          </a>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <button class='hb-btn' id="hb-btn" style="display:none;">HB</button>
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard" style="color: white;">Dashboard</span>
        </div>
        <div class="profile-details">
          <!--<img src="images/profile.jpg" alt="">-->
          <span class="admin_name">Hey! {{user.username}}</span>
          <i class='bx bx-chevron-down'></i>
        </div>
      </nav>

      <div class="home-content" id="base-dashboard">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">No of contests joined</div>
              <div class="number">10</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bx-cart-alt cart'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">No of contests won</div>
              <div class="number">7</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bxs-cart-add cart two'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">No of contests lost</div>
              <div class="number">3</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class='bx bx-cart cart three'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total {{user.currency_type}}</div>
              <div class="number">{{user.vision_credits}}</div>
              <div class="indicator">
                <i class='bx bx-down-arrow-alt down'></i>
                <span class="text">Down From Today</span>
              </div>
            </div>
            <i class='bx bxs-cart-download cart four'></i>
          </div>
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Recent contests</div>
            <div class="sales-details">
              <ul class="details">

              </ul>
            </div>
            <div class="button">
              <a href="#">See All</a>
            </div>
          </div>
        </div>
      </div>

      <div class="home-content age_content" id="age-verification-dashboard">
        <div class="overview-boxes overview_boxes_age">
          <div class="box box_age">
            {% if user.aadhar_image == '' %}
            <div class="right-side">
              <div class="box-topic">Your age is {{user.age}} please Verify via upload a valid proof.</div>
              <form method="post" action="/upload_valid_age_doc" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="number">
                  <input type="file" name="age_validation_doc" id="agefile" accept="image/*">
                </div>
                <div class="indicator">
                  <i class='bx bx-up-arrow-alt'></i>
                  <span class="text">Id proof may be aadhar/pan/licence etc.</span>
                </div>
                <div class="button button_upload">
                  <button>Upload Document</button>
                </div>
              </form>
            </div>
            {% elif not user.is_adult %}
            <div class="right-side">
              <div class="box-topic">Looks like you have a same pending request.</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Id proof may be aadhar/pan/licence etc.</span>
                <span class="text"> It might take 30 minutes to 2 working days for approval.</span>
              </div>
            </div>
            {% else %}
            <div class="right-side">
              <div class="box-topic">Congratulations your age is successfully verified!</div>
              <div class="indicator">
                <i class='bx bx-up-arrow-alt'></i>
                <span class="text">Id proof may be aadhar/pan/licence etc.</span>
              </div>
            </div>
            {% endif %}
            <i class='bx bx-cart-alt cart'></i>
          </div>
        </div>
      </div>

      <div class="home-content abs_content" id="about-us-dashboard">
        <div class="overview-boxes overview_boxes_abs">
          <div class="box box_abs">
            <div class="right-side">
              <div class="box-topic">About us</div>
              <div class="number"></div>
              <div class="indicator">
                <div class="content-abs">
                  <p class="text">
                    Welcome to Vision11, your number one choice for playing fantasy games.. We're dedicated to providing
                    you the very best output.
                  </p>
                  <br>
                  <div class="box-topic">Who we are?</div>
                  <p class="text">
                    Vision 11 is the flagship product of Fantasy Sports Vision11 Private Limited. Vision11 is India's
                    Biggest Sports Gaming platform with users playing Fantasy Cricket. It is a fantasy Sports Management
                    platform that offers Indian sports fans a platform to showcase their sports knowledge. User can
                    create their own team made up of real-life players from upcoming matches, score points based on
                    their on-field performance and compete with other User.
                  </p>
                  <br>
                  <div class="box-topic">Our Mission</div>
                  <p class="text">
                    We make sure you become a part of the game you love so much and get a chance to win real cash and
                    some more amazing rewards. So gear up as we take you to a world of 'fantasies' where you play
                    alongside the stars of the game. We offer a safe and secured platform to enjoy fantasy sports at
                    your leisure.
                  </p>
                  <br>
                  <div class="box-topic">Conclusion</div>
                  <p class="text">
                    We are proud to continually serve our growing community of avid sports fans with the latest
                    innovative offerings and contribute to the overall expansion of the Indian sports ecosystem
                  </p>
                  <br>
                  <p class="text">
                    We hope you enjoy our application as much as we enjoy offering them to you. If you have any
                    questions or comments, please don't hesitate to contact us.
                  </p>
                  <br>
                  <br>
                  <p class="text">Sincerely,</p>
                  <p class="text">Development team</p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="home-content" id="purchase-dashboard">
        <div class="overview-boxes overview_boxes_abs" id="purchase-dashboard-main-container">

        </div>
      </div>

      <div class="home-content" id="help-feedback-dashboard">
        <div class="overview-boxes">
          <div class="suggestion_box">
            <div class="right-side suggestion_box_child">
              <div class="suggestion_form">
                {% if messages %}
                  <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
                <div class="head" style="text-align: center;">
                  <h3>Feature Suggestion Form</h3>
                </div>
                <form action="/suggestions" method="post">
                  {% csrf_token %}
                  <div class="form_">
                    <label class="input_title">Name: </label>
                    <div class="name">
                      <input placeholder="First Name" name="first_name">
                      <input placeholder="Last Name" name="last_name">
                    </div>
                    <label class="input_title">Email: </label>
                    <div class="mail">
                      <input placeholder="Email" name="email">
                    </div>
                    <label class="input_title">Feature Title:</label>
                    <div class="summary_title">
                      <input placeholder="Title" name="title">
                    </div>
                    <label class="input_title">Feature Description:</label>
                    <div class="suggestion_des">
                      <textarea name="description"></textarea>
                    </div>
                  </div>

                  <div class="createbutton">
                    <button>Send Suggestion</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
        if (sidebar.classList.contains("active")) {
          sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else
          sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
    </script>

    <script>
      // id of divs
      elms = ["base-dashboard", "age-verification-dashboard", "about-us-dashboard", "help-feedback-dashboard","purchase-dashboard"]
      // id of a tags left
      triggered = ["basedash", "ageverdash", "absdash", "hefedash","purchase"]
      for (var i = 1; i < elms.length; i++) {
        document.getElementById(elms[i]).style.display = "none";
      }

      for (var i = 0; i < triggered.length; i++) {
        document.getElementById(triggered[i]).addEventListener('click', function () {
          if(window.innerWidth < 786){
            document.getElementById('sidebar-dashboard').style.display = 'none';
          }
          for (var j = 0; j < elms.length; j++) {
            if (this.id == triggered[j]) {
              document.getElementById(elms[j]).style.display = 'block';
              if (!document.getElementById(triggered[j]).classList.contains('active'))
                document.getElementById(triggered[j]).classList.add('active');
            } else {
              document.getElementById(elms[j]).style.display = 'none';
              if (document.getElementById(triggered[j]).classList.contains('active'))
                document.getElementById(triggered[j]).classList.remove('active');
            }
          }
        })
      }
    </script>
  </body>

  <script>
      const names = ["#purchase","#ageverification","#aboutus","#suggestafeature","#"]
      const names_url = ["purchase","ageverdash","absdash","hefedash","basedash"]
      for(var i=0;i<names.length;i++){
        if(document.URL.includes(names[i])){
          document.getElementById(names_url[i]).click();
          break;
        }
      }

      window.onresize = function(){
        if(window.innerWidth<786){
          document.getElementById('sidebar-dashboard').style.display = 'none';
        }else{
          document.getElementById('sidebar-dashboard').style.display = 'block';
        }
      }
  </script>
<script src="{% static 'js/dashboard.js' %}"></script>
</html>

{% endblock %}