{% load static %}
<header class="header">
    <img width="250px" height="70px" src="{% static 'imgs/web/logo.png' %}" alt="">
  <nav class="navbar">
    <ul class="navbar-list">
      <li><a class="navbar-link" href="/">Home</a></li>
      <li><a class="navbar-link" href="/dashboard">Dashboard</a></li>
      <li><a class="navbar-link" href="/play">Play</a></li>
      {% if not user.is_authenticated %}
      <li><a class="navbar-link" href="/accounts/signup" target="_blank">Register</a>
      {% else %}
      <li><a class="navbar-link" href="#">Hey {{user.first_name}}!</a>
      {% endif %}
      </li>
    </ul>
  </nav>

  <div class="mobile-navbar-btn">
    <ion-icon name="menu-outline" class="mobile-nav-icon"></ion-icon>
    <ion-icon name="close-outline" class="mobile-nav-icon"></ion-icon>
  </div>
</header>
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
<script>
  const mobile_nav = document.querySelector(".mobile-navbar-btn");
  const nav_header = document.querySelector(".header");

  const toggleNavbar = () => {
    var elm = document.querySelector('.header');
    var style = window.getComputedStyle(elm)['overflow'];
    console.log(style);
    if(style=='hidden'){
      elm.style.overflow = 'unset';
    }else{
      elm.style.overflow = 'hidden';
    }
    nav_header.classList.toggle("active");
  };

  mobile_nav.addEventListener("click", () => toggleNavbar());
</script>
