{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>({{points}}) points for Team of {{user}}</title>
    <link rel="stylesheet" href="{% static 'css/userteam.css' %}">
</head>
<body>
    <div class="parentdiv">
        <div class="child1">
            <div class="child2">
                <h5>wicketkeeper</h5>
                <div class="wicketkeeper">
                    {% for player in data %}
                    {%if player.player_type == "WICKET KEEPER" %}
                    <div class="player">
                        <img src="{{player.player_pic}}">
                        <h5>
                            {% if captain.pid == player.pid %}
                            (C)
                            {% elif vice_captain.pid == player.pid %}
                            (VC)
                            {% endif %}
                            {{player.player_name}}
                        </h5>
                        <p>0.00</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <h5>Batsman</h5>
                <div class="batsman">
                    {% for player in data %}
                    {%if player.player_type == "BATSMEN" %}
                    <div class="player">
                        <img src="{{player.player_pic}}">
                        <h5>
                            {% if captain.pid == player.pid %}
                            (C)
                            {% elif vice_captain.pid == player.pid %}
                            (VC)
                            {% endif %}
                            {{player.player_name}}
                        </h5>
                        <p>0.00</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <h5>All rounder</h5>
                <div class="allrounder">
                    {% for player in data %}
                    {%if player.player_type == "ALL ROUNDER" %}
                    <div class="player">
                        <img src="{{player.player_pic}}">
                        <h5>
                            {% if captain.pid == player.pid %}
                            (C)
                            {% elif vice_captain.pid == player.pid %}
                            (VC)
                            {% endif %}
                            {{player.player_name}}
                        </h5>
                        <p>0.00</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <h5>Bowler</h5>
                <div class="bowler">
                    {% for player in data %}
                    {%if player.player_type == "BOWLER" %}
                    <div class="player">
                        <img src="{{player.player_pic}}">
                        <h5>
                            {% if captain.pid == player.pid %}
                            (C)
                            {% elif vice_captain.pid == player.pid %}
                            (VC)
                            {% endif %}
                            {{player.player_name}}
                        </h5>
                        <p>0.00</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>