{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 1 {{request.user}}</title>
    <link rel="stylesheet" href="{% static 'css/userteam.css' %}">
</head>
<body>
    <div class="parentdiv">
        <div class="child1">
            <div class="child2">
                <h5>wicketkeeper</h5>
                <div class="wicketkeeper">
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                </div>
                <h5>Batsman</h5>
                <div class="batsman">
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                </div>
                <h5>All rounder</h5>
                <div class="allrounder">
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                </div>
                <h5>Bowler</h5>
                <div class="bowler">
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                    <div class="player">
                        <img src="https://www.cricbuzz.com/a/img/v1/75x75/i1/c174146/karan-sharma.jpg">
                        <h5>Mohit Satija(C)</h5>
                        <p>0.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>